h1 {
    color: blueviolet;
}

img {
    width: 300px;
}

li {
    display: inline;
    
}

.thirdDiv {
    background-color: aquamarine;
    padding: 50px;
    border: dotted black;
    width: fit-content;
}

#spanId{
    font-size: 18px;
    margin: 50px;
    background-color: aquamarine;
}